@charset "UTF-8";

/*
*/
html,
body {
 height: 100%;
 position: relative;
}


img {
    width: 100%;
}

.form-check input:checked {
    background-color: #198754ff;
    border-color: #198754ff;
}
#top {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}


#top-menu {
    position: relative;
    transition: all 1s;
    z-index: 20 !important;
}

#uware-up-arrow {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.3s;
}
#social-media {
  max-height: 32px;
}


a {
    color: #198754;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover {
    color: #343a40;
    text-decoration: none;
    transition: all 0.3s;
}

/*
    Logo
*/
.logo img {
  width: auto;
  height: 150px;
}
.logo-sm {
  width: auto;
  z-index: 2147483647;
  height: 30px;
  transition: all 0.5s;
}
.logo-sm-footer {
  width: auto;
  z-index: 2147483647;
  max-height: 30px !important;
  transition: all 0.5s;
}
.logo-sm:hover {
  transform: scale(2.5);
  z-index: 2147483647;
  transition: all 0.5s;
}
.navbar-brand {
  z-index: 2147483647;
}

/*
    Stick Top-Menu
*/
.sticky {
  position: fixed !important;
  z-index: 10;
  top: 0;
  width:100%;
}
.sticky + .content {
  padding-top: 60px;
}
.margin-menu-sticky {

}
.dropdown-item {
  z-index: 1000;
}
.nav-margin-bottom {
  margin-bottom: 80px;
}

/*

*/
.author-photo {
  max-width: 30px;
  height: auto;
}

.dropdown-item.active,
.dropdown-item:active  {
  background-color: #198754 !important;
}

/*
    Footer
*/


.content {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

footer {

}

/*
  Carousel
*/
.carousel-uware a{
  text-decoration: bold;
  color: white;
  background-color: black !important;
}
.carousel-img {
  min-height: 300px;
  opacity: 0.5;
  transition: all 0.3s;
}
.carousel-img:hover {
  opacity: 1;
  transition: all 0.3s;
}
.carousel {
  background-color: black !important;
}


/*
    Shadow
*/
.shadow-uware {
    -webkit-filter: drop-shadow(5px 5px 5px #333);
    filter: drop-shadow(5px 5px 5px #333);
}
.shadow-uware-sm {
    -webkit-filter: drop-shadow(2px 2px 2px #333);
    filter: drop-shadow(2px 2px 2px #333);
}

/*
    Kotlin Box
*/
.language-kotlin {
    border-radius: 15px
}

/*
  hr
  */
.uw-hr-fl {
  display: none;
}

/*
    Social Network
*/
a.facebook-icon {
    transition: all 0.3s;
}
.facebook-text {
    text-overflow: clip;
    overflow: hidden;
    float: right;
    width: 0px;
    transition: 0.3s;
}
a.facebook-icon:hover {
    background-color: #3b5998;
    transition: all 0.3s;
}
.facebook-icon:hover .facebook-text {
    width: 85px;
    transition: all 0.3s;
}
.facebook-color {
    color: #3b5998 !important;
    text-decoration: none;
}
a.twitter-icon {
    transition: all 0.3s;
}
.twitter-text {
    text-overflow: clip;
    overflow: hidden;
    float: right;
    width: 0px;
    transition: 0.3s;
}
a.twitter-icon:hover {
    background-color:#1da1f2;
    transition: all 0.3s;
}
.twitter-icon:hover .twitter-text {
    width: 65px;
    transition: 0.3s;
}
.twitter-color {
    color:#1da1f2 !important;
    text-decoration: none;
}
a.youtube-icon {
    transition: all 0.3s;
}
.youtube-text {
    text-overflow: clip;
    overflow: hidden;
    float: right;
    width: 0px;
    transition: 0.3s;
}
a.youtube-icon:hover {
    background-color:#ff0000;
    transition: all 0.3s;
}
.youtube-icon:hover .youtube-text {
    width: 75px;
    transition: 0.3s;
}
.youtube-color {
    color:#ff0000 !important;
    text-decoration: none;
}
a.telegram-icon {
    transition: all 0.3s;
}
.telegram-text {
    text-overflow: clip;
    overflow: hidden;
    float: right;
    width: 0px;
    transition: 0.3s;
    margin-top: -1px;
    padding-bottom: 2px;
}
a.telegram-icon:hover {
    background-color:#0088cc;
    transition: all 0.3s;
}
.telegram-icon:hover .telegram-text {
    width: 80px;
    transition: 0.3s;
}
.telegram-color {
    text-decoration: none;
    color:#0088cc !important;
    transition: all 0.3s;
}

@media only screen and (max-width: 1320px) {
  #uware-up-arrow {
    display: none;
  }
  .sticky {
    min-width: 100%;
  }
  .uw-hr {
      display: none;
  }
  .uw-hr-fl {
    display: block;
  }
}
